div(class=['ui', 'pointing','blue','inverted', 'menu'])
  a(class='item' href='/login')= 'Inicio Principal'
  a(class='item' href='/users/panel')= 'Inicio '
  a(class='item' href='/inicioedad')= 'Reportes edades'
  a(class='item' href='/inicioespecialidad')= 'Reportes especialidades' 
  a(class='item' href='/inicioespecialidadT')= 'Reportes especialidades Total' 
  a(class='item' href='/iniciofuerza')= 'Reportes fuerzas' 
  a(class='item' href='/iniciomedico')= 'Reportes Medicos' 
  a(class='item' href='/iniciotipo')= 'Reportes Tipo Asegurado' 
  