div(class=['ui', 'pointing','blue','inverted', 'menu'])
  a(class='item' href='http://localhost:3000/login')= 'Inicio Principal'
  a(class='item' href='http://localhost:3000/users/panel')= 'Inicio '
  a(class='item' href='http://localhost/reportes/inicioEdad.php')= 'Reportes Graficos Edades'
  a(class='item' href='http://localhost/reportes/inicio1.php')= 'Reportes Graficos Especialidades' 
  a(class='item' href='http://localhost/reportes/inicioFza.php')= 'Reportes Graficos Fuerzas' 
  a(class='item' href='http://localhost/reportes/inicioMedicos.php')= 'Reportes Graficos Medicos' 
  a(class='item' href='http://localhost/reportes/inicioTipo.php')= 'Reportes Graficos Tipo Asegurado' 
  