extends ../templates/default

block content

  include ../templates/persona/navpersonaop
  
  div(class=['ui', 'container', 'grid', 'stackable'])
    div(class=['ten', 'wide', 'column'])

      h2(class=['ui', 'header', 'blue', 'dividing'])= 'Modificar Persona'

      div(class='form-nuevocargo')
        form(class=['ui', 'form'] action='http://localhost:3000/editarpersona' method='post')
          div(class=['ui', 'field'])
            label(for='nombrepersona')= 'Nombre'
            input(type= 'text' name='nombrepersona' placeholder='Nombre' value=persona[0].nombre)
          div(class=['ui', 'field'])
            label(for='apaternopersona')= 'Ap Paterno'
            input(type= 'text' name='apaternopersona' placeholder='Ap Paterno' value=persona[0].apaterno)
          div(class=['ui', 'field'])
            label(for='amaternopersona')= 'Ap Materno'
            input(type= 'text' name='amaternopersona' placeholder='Ap Materno' value=persona[0].amaterno)
          div(class=['ui', 'field'])
            label(for='cipersona')= 'CI'
            input(type= 'text' name='cipersona' placeholder='CI' value=persona[0].ci)
          div(class=['ui', 'field'])
            label(for='fecha_nacpersona')= 'Fecha Nacimiento'
            input(type= 'text' name='fecha_nacpersona' placeholder='Fecha Nacimiento' value=persona[0].fecha_nac)
          div(class=['ui', 'field'])
            label(for='matriculapersona')= 'Matricula'
            input(type= 'text' name='matriculapersona' placeholder='Matricula' value=persona[0].matricula)
          div(class=['ui', 'field'])
            input(type= 'hidden' name='id_persona' value=persona[0].id_persona)
          button(class=['ui', 'button', 'basic', 'black'])= 'Modificar Persona'
          div(class=['ui', 'message', 'error'])

      
  script(src='/javascripts/validacion.js')