extends ../templates/default

block content

  include ../templates/empleado/navempleadoop
  
  div(class=['ui', 'container', 'grid', 'stackable','banner'])
    div(class=['sixteen', 'wide', 'column','form-holder'])

      h2(class=['ui', 'header', 'blue', 'dividing','centered','form-head'])= 'Lista de Empleados'

      table(class=['ui', 'table', 'celled'] id='tbl-empleados')
        thead
          tr
            th= 'ID'
            th= 'Paterno'
            th= 'Materno'
            th= 'Cargo'
            th= 'Acciones'
            
            
        tbody
          each empleado in empleados 
            tr
              td(id='id')= empleado.id_empleado
              td= empleado.apaterno
              td= empleado.amaterno
              td= empleado.nombre
              td
              
                a(class=['ui button basic icon'] href='#' data-inverted='' data-tooltip='Eliminar' data-position='top center' id='btn-eliminar')
                  i(class=['remove circle icon'])
                a(class=['ui button basic icon'] href='/modificarempleado/'+empleado.id_empleado data-inverted='' data-tooltip='Modificar' data-position='top center')
                  i(class=['edit icon'])
  script(src='/javascripts/empleados.js')
 